@model RingoMediaTask.Models.Entities.Operational

@{
    ViewData["Title"] = "Details";
}

<h1>Operational Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Logo)
        </dt>
        <dd class="col-sm-10">
            @{
                var base64Str = ImageHelper.ConvertByteArrayToBase64(Model.Logo);
                var mimeType = ImageHelper.GetMimeTypeFromImageByteArray(Model.Logo);
            }
            <img src="data:@mimeType;base64,@base64Str" alt="Logo" style="width: 100px; height: auto;" />
        </dd>
        <dt class="col-sm-2">
            Department
        </dt>
        <dd class="col-sm-10">
            @Model.Department.Name
        </dd>
        <dt class="col-sm-2">
            Management
        </dt>
        <dd class="col-sm-10">
            @Model.Management.Name
        </dd>
        <dt class="col-sm-2">
            Status
        </dt>
        <dd class="col-sm-10">
            @(Model.IsActive ? "Active" : "Deactivated")
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdOperational">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
